BasedOnStyle: LLVM
IndentWidth: 4
PointerAlignment: Left
AllowShortFunctionsOnASingleLine: false
ColumnLimit: 90
IndentCaseLabels: true
AllowShortCaseLabelsOnASingleLine: true
IncludeCategories:
  - Regex:           '<[[:alnum:].]+>'
    Priority:        1
  - Regex:           '.*'
    Priority:        2
    SortPriority:    0
InsertBraces: true
